{% extends 'MsiCmfBundle::layout.html.twig' %}

{% block title %}
{{ admin.getLabel(2) }}
{% endblock title %}

{% block after_title %}<span class="muted">({{ pager.count|number_format }})</span>{% endblock after_title %}

{% block sidebar %}
{% if filterForm is defined %}
    <h3>{{ 'Filter'|trans }}</h3>
    <form novalidate method="GET" class="form-horizontal" action="{{ admin.genUrl('index') }}">
        {% form_theme filterForm 'MsiCmfBundle:Form:form.html.twig' %}
        {{ form_widget(filterForm) }}
        <div class="btn-group">
            <button type="submit" class="btn"><i class="icon-filter"></i></button>
            <a class="btn" href="{{ admin.genUrl('index', {'parentId': app.request.query.get('parentId')}, false) }}"><i class="icon-remove"></i></a>
        </div>
    </form>
{% endif %}
{% endblock sidebar %}

{% block actions %}
{% if admin.isGranted('create') %}
    <a href="{{ admin.genUrl('new') }}" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Add'|trans }}</a>
{% endif %}
{% endblock %}

{% block content %}
{# Search #}
<form novalidate class="form-search" method="GET" action="{{ admin.genUrl('index') }}">
    {% if admin.hasParent() %}<input type="hidden" value="{{ app.request.query.get('parentId') }}" name="parentId">{% endif %}
        <input value="{{ app.request.query.get('q') }}" name="q" type="text" class="span3">
        <div class="btn-group">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
            <a class="btn" href="{{ admin.genUrl('index', {'parentId': app.request.query.get('parentId')}, false) }}"><i class="icon-remove"></i></a>
        </div>
</form>
{# Table #}
{% include 'MsiCmfBundle:Grid:grid_horizontal.html.twig' with {'grid': admin.getGrid()} %}
{# Limit #}
<form id="limitForm" novalidate class="pull-left form-search" method="POST" action="{{ path('msi_cmf_limit') }}">
    <select style="width:100px;" name="limit">
        <option {% if app.session.get('limit') == 10 %}selected=selected{% endif %} value="10">10</option>
        <option {% if app.session.get('limit') == 25 %}selected=selected{% endif %} value="25">25</option>
        <option {% if app.session.get('limit') == 50 %}selected=selected{% endif %} value="50">50</option>
        <option {% if app.session.get('limit') == 100 %}selected=selected{% endif %} value="100">100</option>
    </select>
</form>
{% endblock %}

{% block js %}
{{ parent() }}
<script>
(function($) {
    "use strict";
    // Return a helper with preserved width of cells
    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            var $this = $(this);
            $this.width($this.width());
        });
        return ui;
    };

    // fill empty tr created by jquery ui

    var nbColumn = $('table.table').children().first().children().children().length;
    var placeholderFiller = '';

    for (var i = 0; i < nbColumn; i++) {
        placeholderFiller += '<td>&nbsp;</td>';
    };

    $("table.sortable tbody").sortable({
        helper: fixHelper,
        handle: $('table i.icon-resize-vertical').closest('td'),
        containment: 'div#content',
        placeholder: "ui-state-highlight",
        forcePlaceholderSize: true,
        start: function (event, ui) {
            ui.placeholder.html(placeholderFiller);
        },
    }).disableSelection();
})(jQuery);
(function($) {
    "use strict";
    var $table = $('table.sortable');

    $table.on('sortstop', function(e, ui) {
        var next = null,
            prev = null;

        if (typeof $(ui.item).next('tr').attr('id') !== 'undefined') {
            next = $(ui.item).next('tr').attr('id').substr(2);
        }

        if (typeof $(ui.item).prev('tr').attr('id') !== 'undefined') {
            prev = $(ui.item).prev('tr').attr('id').substr(2);
        }

        $.ajax("{{ admin.genUrl('sort') }}", {
            data: {
                'current': $(ui.item).attr('id').substr(2),
                'next': next,
                'prev': prev
            },
        });
    });
})(jQuery);
</script>
{% endblock js %}
