<table class="{% if grid.sortable %}sortable {% endif %}table table-bordered">
    {# Head #}
    <thead>
        <tr>
        {% if grid.sortable %}
            <th>{{ 'Order'|trans }}</th>
        {% endif %}
        {% if admin.isTranslatable and admin.isTranslationField('published') %}
            <th>{{ 'Published'|trans }}</th>
        {% endif %}
        {% for column in grid.columns %}
            <th>{{ column.get('label')|capitalize|trans }}</th>
        {% endfor %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <th>ID</th>
        {% endif %}
        </tr>
    </thead>
    {# Body #}
    <tbody>
    {% for row in grid.rows %}
        <tr id="tr{{ row.id }}">
            {% if grid.sortable %}
                <td class="span1 td-sort" style="text-align:center;">
                    <i class="icon-resize-vertical"></i>
                </td>
            {% endif %}
            {% if admin.isTranslatable and admin.isTranslationField('published') %}
                <td style="text-align:center;" class="span2" id="td{{ loop.index }}{{ row.id }}">
                    {% for locale in admin.appLocales %}
                        <a href="#" class="msi_cmf_admin_change" data-url="{{ admin.genUrl('change', {'_method': 'PUT', 'locale': locale, 'id': row.id, 'field': 'published'}) }}" data-icon-true="icon-ok" data-icon-false="icon-ok" data-badge-true="badge-success" data-badge-false="">
                            {% if row.getTranslation(locale).published %}
                                <span class="badge badge-success">{{ locale|upper }} <span><i class="icon-ok icon-white"><span class="hide">1</span></i></span></span>
                            {% else %}
                                <span class="badge">{{ locale|upper }} <span><i class="icon-ok icon-white"><span class="hide">0</span></i></span></span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </td>
            {% endif %}
            {% for column in grid.columns %}
                <td {% for attrname,attrvalue in column.options.attr %}{{attrname}}="{{attrvalue}}" {% endfor %}id="td{{ loop.index~row.id }}">
                {% include 'MsiCmfBundle:Column:'~column.type~'.html.twig' with {'i': loop.index, 'column': column.resolveRow(row)} %}
                </td>
            {% endfor %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td class="span1">
                {{ row.id }}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ msi_pager_render(pager) }}
