{#{% set options = column.options %}

{% if admin.isTranslationField(column.name) and admin.appLocales|length < 3 %}
    {% for i, value in column.translationValues %}
        <span class="label">{{ i|upper }}</span>
        <a href="{{ admin.genUrl('edit', {'id': object.id}) }}">
        {% if options.truncate %}
            {{ value|truncate(options.truncate_length, options.truncate_preserve, options.truncate_separator) }}
        {% else %}
            {{ value }}
        {% endif %}
        </a>
        <br>
    {% endfor %}
{% else %}
    <a href="{{ admin.genUrl('edit', {'id': object.id}) }}">
    {% if options.truncate %}
        {{ column.value|truncate(options.truncate_length, options.truncate_preserve, options.truncate_separator) }}
    {% else %}
        {{ column.value }}
    {% endif %}
    </a>
{% endif %}#}
{% set options = column.options %}

{#<a href="{{ admin.genUrl('edit', {'id': object.id}) }}">#}
{% if options.truncate %}
    {{ column.value|truncate(options.truncate_length, options.truncate_preserve, options.truncate_separator) }}
{% else %}
    {{ column.value }}
{% endif %}
{#</a>#}
